body { 
    padding-top: 80px; 
    height: 100%;
    background-color: whitesmoke;
}
table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    border-collapse: collapse; 
    border-spacing: 50px;
    align-self: center;

}
td {   
    border: 1px solid #79d9ce;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.Wall{
    background-color: black;
}

.start{
    background-color: forestgreen;
}

.end{
    background-color: darkred;
}

.path {
    background-color:yellow;
}